.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.MuiTableCell-head{
font-weight: 700 !important;
}

.makeStyles-header-274 {
background-color: rgba(63, 81, 181, 0.2)
}
.bold {
font-size: 16px;
}